# windows
Thumbs.db

# osx
.DS_Store
._*

# visual studio
.vs/
*.user
*.suo
*.tmp_proj
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
[Cc]ode[Cc]overage/
[Ff]x[Cc]op/
[Ll]og/
[Tt]emp/

# nuget
*.nupkg
**/packages/*
